* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #011c42;
  --secondary-color: #a9b1b8;
  --light-color: #f3f3f3;
  --contrast-color: #dba539;
}
.hidden {
  visibility: hidden;
  height: 0;
}

body {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary-color);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

/*Utilities*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f3f3f3;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--contrast-color);
  color: var(--light-color);
  text-align: center;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.btn:hover {
  transform: scale(0.98);
}
img {
  width: 100px;
}
/*Header*/
.header {
  background: var(--contrast-color);
  color: var(--primary-color);
}

.logo {
  color: var(--light-color);
}

nav.flex {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
}
nav a {
  color: var(--light-color);
  padding: 10px;
  margin: 0 5px;
}

nav a:hover {
  border-bottom: 1px solid Var(--light-color);
}

/*Main*/

.main {
  height: 500px;
  background-color: var(--secondary-color);
  position: relative;
}

.main .featured-content {
  animation: slideInFromRight 1s ease-in;
}
.main .featured-image {
  animation: slideInFromTop 1s ease-in;
}
img {
  width: 380px;
  border: 6px solid var(--light-color);
  border-radius: 10px;
}
.main h1 {
  font-size: 40px;
  color: var(--light-color);
}

.main p {
  margin: 20px 0;
  color: var(--light-color);
}

.main::before,
.main::after {
  content: "";
  align-content: center;
  position: absolute;
  background: white;
  height: 80px;
  bottom: -70px;
  right: 0;
  left: 0;
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
}

/*Technologies section*/
.technologies {
  height: 250px;
  background: var(--light-color);
  margin-top: 30px;
}
.fab {
  font-size: 50px;
  color: var(--contrast-color);
}
.fal {
  font-size: 50px;
  color: var(--contrast-color);
}
.fas {
  font-size: 50px;
  color: var(--contrast-color);
}
.technologies.flex {
  display: flex;
  justify-content: space-between;
}

.technologies ul {
  display: flex;
}

.technologies li {
  padding: 20px;
  text-align: center;
  transition: 0.2sec ease-in-out;
}

.technologies li:hover {
  transform: translateY(-15px);
}

.technologies h2 {
  text-align: center;
  padding-top: 30px;
}

.tech {
  padding: 10px;
}

/*Contact page*/

.contact-main {
  height: 500px;
  background-color: var(--secondary-color);
  position: relative;
}

.contact-main::before,
.contact-main::after {
  content: "";
  align-content: center;
  position: absolute;
  background: white;
  height: 80px;
  bottom: -70px;
  right: 0;
  left: 0;
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
}
.contact-main {
  overflow: visible;
}
.contact-main p {
  color: var(--light-color);
}

.contact-form {
  position: relative;
  top: 69px;
  height: 350px;
  width: 400px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}
.contact-text {
  animation: slideInFromTop 1s ease-in;
}
.contact-form .form-control {
  margin: 30px 0;
}
.contact-form input[type="text"],
.contact-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
  font-size: 16px;
  padding: 3px;
}

.contact-form input:focus {
  outline: none;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  margin: 10px;
}
.contact-main {
  margin-bottom: 100px;
}

/*Projects page*/
.projects {
  padding-top: 30px;
}
.projects p.intro {
  text-align: center;
  font-size: 20px;
}

.intro {
  margin-bottom: 40px;
}

.project-img {
  margin: auto;
}

/*Footer*/
.footer {
  height: 150px;
}

.social .flex {
  display: flex;
}

.social {
  padding: 0 5px;
  margin-top: 50px;
}

.footer p {
  text-align: center;
  font-size: 12px;
  margin: 0;
}

.footer .fab {
  font-size: 30px;
}

.footer a {
  color: var(--contrast-color);
}

/*Animation*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/*Tablets*/
@media (max-width: 768px) {
  .grid,
  .main.grid {
    grid-template-columns: 1fr;
    overflow: visible;
  }

  .main {
    height: 700px;
  }

  .main h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
  }
  .main p {
    text-align: center;
    font-size: 14px;
    padding: 5px;
  }
  .main .featured-image {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  .main img {
    width: 280px;
  }
  .main .featured-content {
    line-height: 1.3;
  }

  .main .featured-content .btn {
    display: block;
  }
  .featured-content {
    margin-top: 0;
    padding-top: 0;
  }

  .contact-form {
    justify-self: center;
    margin: auto;
  }
  .contact-main h2 {
    text-align: center;
    margin-top: 30px;
  }
  .contact-main p {
    text-align: center;
  }
  .contact-form {
    position: relative;
    top: -20px;
  }

  .contact-main::before,
  .contact-main::after {
    height: 90px;
    bottom: -50px;
  }

  .main::before,
  .main::after {
    display: none;
  }
  .projects h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  .projects p {
    text-align: center;
    font-weight: lighter;
  }
  .projects .project-text .btn {
    margin: auto;
    display: block;
    margin: 10px;
  }
  .technologies ul {
    flex-wrap: wrap;
    font-size: 12px;
  }
  .technologies {
    height: 450px;
  }
}

/*Mobile*/
@media (max-width: 500px) {
  nav.flex {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .header {
    height: 100px;
  }

  nav ul {
    padding: 10px;
  }
  .main {
    height: auto;
  }
  .main .featured-content .btn {
    margin-bottom: 30px;
  }

  .technologies {
    height: 500px;
  }

  .technologies ul {
    justify-content: center;
  }

  .tech {
    padding: 0;
    margin: 0;
  }
}
